[Desktop Entry]
Name=Hefftor SkelApp
GenericName=Skel Config Copy
X-GNOME-FullName=Hefftor SkelApp
Comment=Copy /etc/skel into your configs
Exec=hefftor-skelapp
Icon=/usr/share/Hefftor-SkelApp/images/hefftorlinux.svg
Terminal=false
Type=Application
Categories=GTK;Settings;Security;X-GNOME-Settings-Panel;X-GNOME-SystemSettings;X-Unity-Settings-Panel;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
Keywords=Hefftor;
StartupNotify=true